.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cardRegister {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 100px;
  margin-right: 20px;
  margin-left: 20px;
}

.titleRegister {
  font-size: 30px;
  text-align: start;
  margin-bottom: 20px;
}

.formRegister {
  display: flex;
  flex-direction: column;
}

.inputRegister {
  margin-bottom: 10px;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 20px 10px;
}
